@page "/loadimage"
@rendermode InteractiveServer

<PageTitle>Load Image</PageTitle>

<h1>Load Image</h1>

<InputFile OnChange="HandleSelectedFile" />
<button @onclick="LoadImage2">Load Image</button>


